body {
	background-repeat: no-repeat;
	background-position: center top;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4D4D4D;
}


h1, h3, h4, h5 {
	padding: 2px 2px 2px 2px;
	margin: 1px 1px 1px 1px;
	font-weight: 400;
}

h2 {
	padding: 2px 2px 2px 2px;
	margin: 1px 1px 1px 1px;
	font-weight: 300;
}

h5 {
	font-weight: 600;
}

a:hover {
	font-size: bigger;
}

svg {
    background-color: #E0E0E0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1;
  shape-rendering: crispEdges;
  display:none;
}

.axis text {
    font-size: 10px;
	font-family: 'Source Sans Pro', sans-serif;
  	color: #4D4D4D;
  	font-weight: 300;
}

.graphHeader text {
    font-size: 15px;
    font-weight: bold;
    fill: #FFF;
    text-decoration:underline;
}

.y.axis text {
    font-size: 15px;
    font-weight: bold;
    fill: #FFF;
}
    
.data-point {
    stroke: #666666;
    stroke-width: 1.5;
    fill: #FFF;
}

#chart {
		padding-bottom: 0px;
        margin-bottom: 0px;
}

.bar {
    
}