
/*--- override jquery ---*/

body .ui-btn-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

/*--- text/html ---*/

* {
    font-family: 'Source Sans Pro', sans-serif;
    color: #4D4D4D;
    font-size: 15px;
}

h1, h3, h4, h5 {
	padding: 2px 2px 2px 2px;
	margin: 1px 1px 1px 1px;
	font-weight: 400;
}

h2 {
	padding: 2px 2px 2px 2px;
	margin: 1px 1px 1px 1px;
	font-weight: 300;
}

h5 {
	font-weight: 600;
}

a:hover {
	font-size: bigger;
}

/*--- charts ---*/

#chart, #chartWeekly, #chartInstant {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #E0E0E0;

}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.bar {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #FFF;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
}

.axis line.tick {
    x2: -3;

}

.axis text {
	font-family: 'Source Sans Pro', sans-serif;
}

.x.axis text {
    font-size: 12px;
}

.x.axis.instant text {
    font-size: 10px;
}

.x.axis.agg text {
    font-size: 10px;
}

.y.axis text {
    font-size: 11px;
    font-weight: 200;
    fill: #939597;
}
 
.data-point, .eventBox {
    stroke: #666666;
    stroke-width: 1.5;
    fill: #FFF;
}

.eventBoxText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    font-size: 14px;
    text-shadow: none;
    fill: #FFFFFF;
}

.eventBox {
    fill:#939597;
    stroke: white;
    stroke-width:0.25;
}

.moodLine, .moodCircle {
    stroke: #939597;
    stroke-width:0.5;
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}

#instantTitle text {
    font-size:15px;
}

#listBtn .ui-icon { 
    background:  url(imgs/icon-list.png) 50% 50% no-repeat; 
    background-size: 16px 16px; 
}

#listBtn.ui-btn-active {
    background: #EEE;
}

#listBtn.ui-btn-active .ui-icon { 
    background:  url(imgs/icon-list-on.png) 50% 50% no-repeat; 
    background-size: 16px 16px; 
}

#mapBtn .ui-icon { 
    background:  url(imgs/icon-map.png) 50% 50% no-repeat; 
    background-size: 16px 16px; 
}

#mapBtn.ui-btn-active {
    background: #EEE;
}

#mapBtn.ui-btn-active .ui-icon { 
    background:  url(imgs/icon-map-on.png) 50% 50% no-repeat; 
    background-size: 16px 16px; 
}

#barBtn .ui-icon { 
    background:  url(imgs/icon-bar.png) 50% 50% no-repeat; 
    background-size: 16px 16px; 
}

#barBtn.ui-btn-active {
    background: #EEE;
}

#barBtn.ui-btn-active .ui-icon { 
    background:  url(imgs/icon-bar-on.png) 50% 50% no-repeat; 
    background-size: 16px 16px; 
}

.nav-glyphish-example .ui-btn .ui-icon { 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important; 
}